[user]
[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	co = checkout
	index = diff --cached
	log = log --decorate
	amend = commit --amend -C HEAD
[apply]
	whitespace = nowarn

[push]
	default = current

[merge]
	conflictstyle = diff3

[gc]
	pruneexpire = 30 days
