[submodule ".vim/bundle.disabled/syntastic"]
	path = .vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = http://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/vimclojure"]
	path = .vim/bundle/vimclojure
	url = http://github.com/kotarak/vimclojure.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".emacs.d/undo-tree"]
	path = .emacs.d/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule ".vim/bundle/scss-syntax.vim"]
	path = .vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule ".vim/bundle/Better-CSS-Syntax-for-Vim"]
	path = .vim/bundle/Better-CSS-Syntax-for-Vim
	url = https://github.com/chrisyip/Better-CSS-Syntax-for-Vim
[submodule ".vim/bundle/conque"]
	path = .vim/bundle/conque
	url = https://github.com/basepi/vim-conque.git
[submodule ".vim/bundle/pythoncomplete"]
	path = .vim/bundle/pythoncomplete
	url = https://github.com/mjbrownie/pythoncomplete.vim.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = git://github.com/groenewege/vim-less.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:danwerner/oh-my-zsh.git
