" IdeaVIM plugin configuration

map gc :q<CR>

set multiple-cursors

" enable intelligent join via the IDE
set ideajoin
" clipboard to enable native IJ insertion in Vim
set ideaput
" Sync IJ bookmarks and Vim marks
set ideamarks
" don't change to select mode during refactoring
"set idearefactormode=keep
" disable IdeaVim in dialog editors
set ideavimsupport=

" Only needed on macOS X
"map <C-N>  <A-N>
"map <C-P>  <A-P>
"map <C-X>  <A-X>
"map g<C-N> g<A-N>

"map <C-N>  <Plug>NextWholeOccurence
"map <C-P>  <Plug>RemoveOccurence
"map <C-X>  <Plug>SkipOccurence
"map g<C-N> <Plug>NextOccurence
